<% include ./partials/header.ejs %>

<div class="container">
    <h1 id="textColor">Edit <%= foundItem.item %> </h1>

    <form action="/<%= foundItem.id %>?_method=PUT" method="POST">
        <label id="textColor">Item:</label>
        <input type="text" name="item" value="<%= foundItem.item %>">

        <label id="textColor">Price:</label>
        <input type="number" name="price" value="<%= foundItem.price %>">

        <button>Submit</button>
    </form>
</div>
<% include ./partials/footer.ejs %>