<% include ./partials/header.ejs %>
<div class="container">
    <h2 id="textColor">Enter new item:</h2>
    <form action="/" method="POST">
        <label id="textColor">Item:</label><br>
        <input type="text" name="item" placeholder="item">
        <br>
        <label id="textColor">Price:</label><br>
        <input type="number" name="price" placeholder="price">
        <br><br>
        <button class="btn">Submit</button>
    </form>
</div>
<% include ./partials/footer.ejs %>